.course-list-container {
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
}

.search-bar {
  width: 80%;
  padding: 12px 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 25px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border 0.3s;
}

.search-bar:focus {
  border: 1px solid #4caf50; /* Resalta al hacer foco */
}

.sort-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
}

.sort-btn {
  background-color: #574b90;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.sort-btn:hover {
  background-color: #51487c;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
}

.course-list .course-card {
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  background-color: white; /* Fondo blanco para cada tarjeta */
}

.course-list .course-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
